{% extends "admin/change_list.html" %}

{% block content %}
    <h2>Bulk Upload Shlokas</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'admin:upload-shlokas' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_excel_file">Upload Excel File:</label>
            <input type="file" id="id_excel_file" name="excel_file" accept=".xlsx, .xls" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>


    <h3>Example Format</h3>
    <p>Download an example Excel format to prepare your upload file.</p>
    <a href="{% url 'admin:shloka-example-format' %}" class="btn btn-secondary">Download Example Format</a>

    {{ block.super }}
{% endblock %}
